/* LOGIN BACKGROUND IMAGE */
.login-body {
    background: url('https://images.unsplash.com/photo-1503676260728-1c00da094a0b') no-repeat center center/cover;
    height: 100vh;
}

/* GENERAL BODY */
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* CARD */
.container {
    background: rgba(255, 255, 255, 0.95);
    padding: 30px;
    border-radius: 12px;
    width: 350px;
    text-align: center;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.3);
    animation: fadeIn 1s ease-in-out;
}

/* ANIMATION */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* HEADINGS */
h1 {
    margin-bottom: 20px;
}

/* INPUTS */
input {
    width: 90%;
    padding: 10px;
    margin: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* BUTTON */
button {
    width: 95%;
    padding: 10px;
    border: none;
    background: #4facfe;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #007bff;
}

/* RESULT COLORS */
h2 {
    color: green;
}

h3 {
    color: #333;
}
