<!DOCTYPE html>
<html>
<head>
<title>Smart Student System</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<div class="container">

<h1>Smart Student Eligibility System 🎓</h1>

<form action="/predict" method="post">


<select name="university" required>
<option value="">Select University</option>
<option>VIT Chennai</option>
<option>Saveetha University</option>
<option>SRM University</option>
<option>Anna University</option>
</select>

<input type="number" name="study_hours" placeholder="Study Hours" required>
<input type="number" name="attendance" placeholder="Attendance %" required>

<button>Check Eligibility</button>

</form>

{% if score %}

<h2>Score: {{ score }}/100</h2>

<h3>Attendance: {{ attendance }}%</h3>
<h3>Absent: {{ absent }}%</h3>

<h3 style="color: {{ color }}">{{ status }}</h3>

<h3>{{ suggestion }}</h3>

<h3>Classes Needed: {{ classes_needed }}</h3>

<!-- 🔥 FUTURE PREDICTION -->
<h3>If you miss 3 classes → {{ future_miss }}%</h3>
<h3>If you attend 5 classes → {{ future_attend }}%</h3>

{% endif %}

</div>

</body>
</html>
