<!DOCTYPE html>
<html>
<head>
<title>Smart Student Eligibility System</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<div class="container">

<h1>Smart Student Eligibility System 🎓</h1>

<form action="/predict" method="post">

<input type="email" name="email" placeholder="Enter Email" required>

<select name="university" required>
<option value="">Select University</option>
<option>VIT Chennai</option>
<option>Saveetha University</option>
<option>SRM University</option>
<option>Anna University</option>
<option>Sathyabama</option>
</select>

<input type="number" name="study_hours" placeholder="Study Hours" required>
<input type="number" name="attendance" placeholder="Attendance %" required>

<button>Predict</button>

</form>

<h2>Score: {{ prediction_text }}</h2>

<h3 style="color:{{status_color}}">{{ attendance_status }}</h3>

<h3>{{ suggestion }}</h3>

<h3>Classes Needed: {{ classes_needed }}</h3>

<h3>Absent: {{ absent }}%</h3>

<a href="/history"><button>History</button></a>
<a href="/admin"><button>Admin</button></a>

<canvas id="chart"></canvas>

</div>

<script>
let score = "{{ prediction_text }}";
if(score){
new Chart(document.getElementById("chart"), {
type:'bar',
data:{
labels:['Score'],
datasets:[{
data:[parseFloat(score)],
backgroundColor:'#4facfe'
}]
}
});
}
</script>

</body>
</html>
